WindowsApp/Web References/localhost/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MetiApplication" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="MetiApplication" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MetiApplication/Imports">
      <xsd:import schemaLocation="http://localhost:51036/AuthService.svc?xsd=xsd0" namespace="MetiApplication" />
      <xsd:import schemaLocation="http://localhost:51036/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51036/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetiDomain.Entities" />
      <xsd:import schemaLocation="http://localhost:51036/AuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetiDomain.Entities.Base" />
      <xsd:import schemaLocation="http://localhost:51036/AuthService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MetiService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="MetiApplication/IAuthService/Authenticate" message="tns:IAuthService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="MetiApplication/IAuthService/AuthenticateResponse" message="tns:IAuthService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="MetiApplication/IAuthService/Register" message="tns:IAuthService_Register_InputMessage" />
      <wsdl:output wsaw:Action="MetiApplication/IAuthService/RegisterResponse" message="tns:IAuthService_Register_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="MetiApplication/IAuthService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="MetiApplication/IAuthService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:51036/AuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>