WindowsApp/Web References/localhost/AuthService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MetiApplication" elementFormDefault="qualified" targetNamespace="MetiApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51036/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetiDomain.Entities" />
  <xs:import schemaLocation="http://localhost:51036/AuthService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MetiService" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetiDomain.Entities" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetiService" minOccurs="0" name="AuthenticateResult" type="q2:AuthenticationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetiDomain.Entities" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetiService" minOccurs="0" name="RegisterResult" type="q4:RegisterStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>